body{
	margin: 0;
    background-image: url("back.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.head
{
	
	   /*border: 1px solid black;*/
    /*height: 119px;*/
    width: 100%;
    padding: 10px;
    /*background-color:gray;*/
    /*opacity: 75%;*/
    display: flex;
}
.flex-container
{
	flex-direction:row;
    display: flex;
    padding-left: 104px;    
}
.head1
{
margin: 25px;
margin-left: 385px;
display: flex;
}
.mid1
{
	/*background-color: gray;*/
    /*opacity: 50%;*/
	border: 1px solid black;
	height: 400px;
	width: 400px;
	margin-left: 30px;
    border-radius: 10px;
    text-align: justify;
    padding: 10px;
    margin: 10px;
    margin-top: 30px;
    box-shadow: 9px 9px 9px 9px;
    display: flex;
    flex-direction: column;
}
.head1 a
{
	/*padding-left: 30px;*/
	margin-left: 41px;
	font-size: 30px;
    text-decoration: none;
    color: black;
    display: flex;
   
}
.mid1 h3
{
	 text-align: center;
     color: white;
     font-size: 30px;
}
.mid1 p
{
	line-height: 20px;
	word-spacing: 3px;
}
@media only screen and (max-width: 600px)
{
	.flex-container
	{
		flex-direction: column;
		padding-left: 16px;
		margin-left: -9px;
	}
	.head1 
	{
      flex-direction: row;
      font-size: 20px;
      margin-left: 10px;
	}
	.head1 a
	{
		font-size: 17px;
		margin-left: 7px;
		font-weight: bold;
	}
	.mid1
	{
		width: 300px;
    height: 360px;
    flex-direction: column;
    margin-left: 24px;
	}
	.mid1 p
	{
		line-height: 16px;
	}
    .mid1 h1
    {
    	text-align: center;
    }
}

